<html>
  <body>
    <img src="logo-transparent.png"><br/>
    <p>Welcome come to akashic-storage open server!</p>

    <p>I created your user account:<p/>
    <ul>
      <li>AccessKey = <%= @access_key %></li>
      <li>SecretKey = <%= @secret_key %></li>
    </ul>

    <p>
    You can use these account info to setup your client tools.<br/> 
    Particularly if you are interested in
    <a href="https://github.com/minio/mc">minio/mc</a>
    command line tool,<br/>
    please visit the Github page
    and spare a minute to install<br/>
    </p>
  </body>
</html>
